#about-me header {
  background-color: #e8e1fb;
}

.about-block img#headshot {
  width: 156px;
  height: 156px;
}
@media (min-width: 768px) {
  .about-block img#headshot {
    width: 216px;
    height: 216px;
  }
}

.my-story-block .container div.row div {
  background-color: #e8e1fb;
  border-radius: 12px;
}
.contact-me-block .container div.row div {
  background-color: #e1eafb;
  border-radius: 12px;
}

.personal-artwork .container div.row div {
  background-color: #e8e1fb;
  border-radius: 12px;
}

.my-free-time .container div.row div {
  background-color: #e1fbf2;
  border-radius: 12px;
}

.contact-me-block .container a.read-case-study {
  color: #e1eafb;
}
