#disney-marvel header {
  background-color: #e1eafb;
}

#disney-marvel .navbar.fixed-top {
  background-color: #e1eafb;
}

#cover {
  background-color: #e1eafb;
}

#cover h1 {
  color: #0026ec;
}

#research {
  background-color: #121419;
  color: white;
}

#market-research {
  background-color: #121419;
  color: white;
}

#disney-marvel hr {
  background-color: #444;
  height: 2px;
  opacity: 1;
}

#user-interviews {
  background-color: #121419;
  color: white;
}

#user-personas {
  background-color: #121419;
  color: white;
}

#define h2,
#define h3 {
  color: #0026ec;
}

#design {
  background-color: #21242c;
  color: white;
}

ul {
  margin-bottom: 1.5rem;
}

#view-more-work img {
}

#loFiWireframesCarousel .carousel-indicators button {
  background-color: #0026ec;
}
#loFiWireframesCarousel h4 {
  color: #0026ec;
}

@media (min-width: 992px) {
  .small-card .container {
    height: 540px;
  }
}
