#disney-marvel header {
  background-color: #e1eafb;
}

#disney-marvel .navbar.fixed-top {
  background-color: #e1eafb;
}

#cover {
  background-color: #e1eafb;
}

#cover h1 {
  color: #0026ec;
}

#research {
  background-color: black;
  color: white;
}

#market-research {
  background-color: #262831;
  border-radius: 12px;
  border: 2px solid #444;
}

#disney-marvel hr {
  background-color: #444;
  height: 2px;
  opacity: 1;
}

#user-interviews {
}

#user-personas {
}

#define h2,
#define h3 {
  color: #0026ec;
}

#design {
  background-color: #21242c;
  color: white;
}

ul {
  margin-bottom: 1.5rem;
}

#view-more-work img {
}
