/*
 * Globals
 */
@font-face {
  font-family: "Grayscale";
  src: url("fonts/Grayscale-Regular.ttf") format("truetype");
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: black;
  margin-top: 45px;
}
@media (min-width: 768px) {
  body {
    margin-top: 58px;
  }
}

h1 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 0.005rem;
}
@media (min-width: 992px) {
  h1 {
    font-size: 48px;
  }
}

h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.05rem;
}
@media (min-width: 992px) {
  h2 {
    font-size: 38px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 700;
}
@media (min-width: 992px) {
  h3 {
    font-size: 28px;
  }
}

h4 {
  font-size: 20px;
  font-weight: 700;
}
@media (min-width: 992px) {
  h4 {
    font-size: 20px;
  }
}

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

p.detail {
  font-size: 14px;
  color: #4a4a4a;
}

a {
  color: black;
}

a:hover,
a:focus {
  color: #5d08c8;
}

.btn:focus {
  box-shadow: none;
}

/* navbar */
.navbar img {
  height: 18px;
}
@media (min-width: 768px) {
  .navbar img {
    height: 20px;
  }
}
.navbar.fixed-top {
  background-color: #e8e1fb;
}
.navbar .navbar-toggler {
  border: none;
  color: black;
  font-size: 1.5rem;
}
.navbar .navbar-toggler:hover {
  box-shadow: none;
}
.navbar-toggler .navbar-toggler-default {
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-default {
  display: none;
}

.navbar-toggler .navbar-toggler-toggled {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .navbar-collapse {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 100%;
    width: 100%;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.75);
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
  .navbar-collapse .navbar-nav {
    background-color: #e8e1fb;
  }
  .navbar-collapse.collapsing {
    background-color: rgba(0, 0, 0, 0.75);
    bottom: 0;
    height: auto;
  }
}

.navbar-nav .nav-link {
  margin: 0 0 8px 24px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  background-color: transparent;
  border-bottom: 0.125rem solid transparent;
  width: max-content;
  letter-spacing: 0.05rem;
  line-height: 1rem;
}
.navbar-collapse .navbar-nav .nav-link {
  padding: 8px 0;
}
.navbar-toggler .navbar-nav .nav-link {
  padding: 12px 0;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #5d08c8 !important;
  border-bottom-color: #5d08c8 !important;
}
.navbar-nav .nav-link.active {
  color: black;
  border-bottom-color: black;
}

li {
  margin: 16px 0;
}

li:first-child {
  margin: 0;
}
li:last-child {
  margin: 16px 0 0 0;
}

/* footer */
.cartoon-image img {
  width: auto;
  height: auto;
  margin-bottom: -68px;
  z-index: -10;
  max-width: 254px;
}

footer .footer {
  background-color: #e8e1fb;
}

.social-links a {
  color: #4a4a4a;
  padding-left: 12px;
  padding-right: 12px;
}
.social-links a:first-child {
  padding-left: 0;
}
.social-links a:last-child {
  padding-right: 0;
}
.social-links img {
  width: 38px;
}

ul.footer-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 960px;
  }
}

a.lightbox-link img {
  max-width: 100%;
  cursor: zoom-in;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox:target {
  display: block;
}

.lightbox span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
