/*
 * Globals
 */
body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

a {
  color: black;
}

a:hover,
a:focus {
  color: #5d08c8;
}

/* navbar */
.navbar-toggler .navbar-toggler-default {
  display: -ms-flexbox;
  display: flex;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-default {
  display: none;
}

.navbar-toggler .navbar-toggler-toggled {
  display: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav .nav-link {
  padding-bottom: 0px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  width: max-content;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #5d08c8 !important;
  border-bottom-color: #5d08c8 !important;
}
.navbar-nav .nav-link.active {
  color: black;
  border-bottom-color: black;
}

/* footer */
.cartoon-image img {
  width: auto;
  height: auto;
  margin-bottom: -75px;
  z-index: -10;
}

footer .footer {
  background-color: #e8e1fb;
}

.social-links {
  font-size: 2.5rem;
}

.social-links a {
  color: #4a4a4a;
  padding-left: 12px;
  padding-right: 12px;
}
.social-links a:first-child {
  padding-left: 0;
}
.social-links a:last-child {
  padding-right: 0;
}

ul.footer-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}
