#mean-street-tattoo header {
  background-color: #e1fbf2;
}

#mean-street-tattoo .navbar.fixed-top {
  background-color: #e1fbf2;
}

#cover {
  background-color: #e1fbf2;
}

#research,
#looking-at-the-analytics,
#learning-from-potential-users,
#power-of-instagram,
#user-personas,
#jade-deep-dive,
#define-intro,
#define,
#task-flow,
#information-architecture,
#design,
#creating-the-ui-kit,
#failure-before-success,
#putting-it-all-together,
#changes-made,
#validate {
  background-color: #21211d;
  color: white;
}

#scope hr {
  background-color: #444;
  height: 2px;
  opacity: 1;
}
#research hr,
#power-of-instagram hr,
#validate hr,
#define-intro hr,
#design hr {
  background-color: #dbbb6b;
  height: 2px;
  opacity: 1;
}

#final-design {
  background-color: black;
  color: white;
}

#video {
  width: 50vw;
  max-width: 400px;
}
