#resume header {
  background-color: #e8e1fb;
}

.work-experience-block .container {
  background-color: #e1eafb;
  border-radius: 12px;
}

.education-block .container {
  background-color: #e1fbf2;
  border-radius: 12px;
}

.skills-block .container {
  background-color: #e8e1fb;
  border-radius: 12px;
}

.skills-block .container li {
  margin-bottom: 0.5rem;
}
