#home header {
  background-color: #e8e1fb;
}

.navbar h5 {
  font-family: "Grayscale", sans-serif;
  font-size: 24px;
}
@media (min-width: 768px) {
  .navbar h5 {
    font-size: 26px;
  }
}

.intro-block {
  background-color: #e8e1fb;
  padding-top: 32px;
  padding-bottom: 40px;
}
.intro-block img {
  width: 176px;
  height: 176px;
}
@media (min-width: 576px) {
  .intro-block img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .intro-block img {
    width: 176px;
    height: 176px;
  }
}
@media (min-width: 992px) {
  .intro-block img {
    width: 255px;
    height: 255px;
  }
}

.intro-block h1 {
  padding-top: 16px;
}

.disney-marvel-block .container {
  background-color: #e1eafb;
  border-radius: 12px;
}
.disney-marvel-block .container a.read-case-study {
  color: #e1eafb;
}
.mean-street-tattoo-block .container {
  background-color: #e1fbf2;
  border-radius: 12px;
}
.mean-street-tattoo-block .container a.read-case-study {
  color: #e1fbf2;
}
.milda-block .container {
  background-color: #e8e1fb;
  border-radius: 12px;
}
.milda-block .container a.read-case-study {
  color: #e8e1fb;
}

.btn {
  font-size: 20px;
  font-weight: 800;
  border-radius: 0.5rem;
}

.read-case-study {
  background-color: #4a4a4a;
  border-color: #4a4a4a;
  padding: 6px 48px;
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 0.05rem;
  pointer-events: none;
}
.read-case-study:hover,
.read-case-study:focus {
  background-color: #5d08c8;
  border-color: #5d08c8;
  color: #e8e1fb !important;
}

#final-design {
  background-color: black;
  color: white;
}

.jump-to-prototype {
  border: 2px solid #212529;
}
.view-prototype {
  background-color: #262831;
  border-color: #4a4a4a;
  padding: 6px 48px;
}
a#final-prototype {
  display: block;
  height: 0;
}
.jump-to-prototype:hover,
.jump-to-prototype:focus,
.view-prototype:hover,
.view-prototype:focus {
  background-color: #5d08c8;
  border-color: #5d08c8;
  color: #e8e1fb !important;
}
