/*
 * Globals
 */
body {
  font-family: "Lato";
  font-size: 16px;
}

h1 {
  font-size: 34px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 20px;
}

a {
  color: black;
}
a:hover,
a:focus {
  color: #5d08c8;
}

.navbar-toggler .navbar-toggler-default {
  display: -ms-flexbox;
  display: flex;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-default {
  display: none;
}
.navbar-toggler .navbar-toggler-toggled {
  display: none;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-toggled {
  display: -ms-flexbox;
  display: flex;
}

body > header,
body > footer .footer {
  background-color: #e8e1fb;
}

.intro-block {
  background-color: #e8e1fb;
  padding-top: 32px;
  padding-bottom: 40px;
}
.intro-block img {
  width: 156px;
  height: 156px;
}
@media (min-width: 576px) {
  .intro-block img {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) {
  .intro-block img {
    width: 156px;
    height: 156px;
  }
}
.intro-block h1 {
  padding-top: 16px;
}

.disney-marvel-block .container {
  background-color: #e1eafb;
  border-radius: 12px;
}
.disney-marvel-block .container button.read-case-study {
  color: #e1eafb;
}
.mean-street-tattoo-block .container {
  background-color: #e1fbf2;
  border-radius: 12px;
}
.mean-street-tattoo-block .container button.read-case-study {
  color: #e1fbf2;
}
.milda-block .container {
  background-color: #e8e1fb;
  border-radius: 12px;
}
.milda-block .container button.read-case-study {
  color: #e8e1fb;
}

.cartoon-image img {
  width: auto;
  height: auto;
  margin-bottom: -75px;
  z-index: -10;
}

.my-story-block .container,
.work-experience-block .container {
  background-color: #e1eafb;
  border-radius: 58px;
}

.contact-me-block .container,
.education-block .container {
  background-color: #e1fbf2;
  border-radius: 58px;
}

.skills-block .container {
  background-color: #e8e1fb;
  border-radius: 58px;
}

button.read-case-study {
  background-color: #4a4a4a;
  padding: 6px 48px;
}
button.read-case-study:hover,
button.read-case-study:focus {
  background-color: #5d08c8;
  color: #e8e1fb !important;
}

.navbar-nav .nav-link {
  padding-bottom: 0px;
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
  width: max-content;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #5d08c8 !important;
  border-bottom-color: #5d08c8 !important;
}
.navbar-nav .nav-link.active {
  color: black;
  border-bottom-color: black;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0.25rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

@media (min-width: 576px) {
  .nav-masthead .nav-link {
    padding: 0.25rem 1.25rem;
  }
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: black;
  border-bottom-color: black;
}

.inline-bi {
  font-size: 1.5rem;
}

.social-links {
  font-size: 2.5rem;
}

.social-links a {
  color: #4a4a4a;
  padding-left: 12px;
  padding-right: 12px;
}
.social-links a:first-child {
  padding-left: 0;
}
.social-links a:last-child {
  padding-right: 0;
}

ul.footer-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.footer-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

.skills-block .container li {
  margin-bottom: 0.5rem;
}
